@media screen  and @screen-tablet {
    /*
    ------------------------------------------------------------------------------------------------
    = STRUCTURE
    ------------------------------------------------------------------------------------------------
    */
     #content, #sidebar {.f-none; .w(100%);}
     #footerInner {max-width:100%;}

     #main {padding:9px 10px 0;
        /*ombre sur les côtés gauche et droite)*/
        &:before, &:after {top:-7px; width:7px;}
        &:before {left: 33px;}
        &:after {right: 33px;}
     }
    .notHome #main {padding:9px 11px 0;}

    #main-inner {.box-shadow(0 -15px 17px -21px #000);/*ombre du haut*/ }


    /*
    ------------------------------------------------------------------------------------------------
    = header, col droite et contenu
    ------------------------------------------------------------------------------------------------
    */
    .img-rounded {padding-bottom:14px;}
    .slogan {padding-left:27px;}
    #cartoucheDr {right:-61px; z-index:2; padding:1px 5px 7px;}
    .confiance {.clear;}

    /*---------- = Montant / calculette----------*/
        /* Montant*/
    #montant .control-group label {margin-left:28px;}
    #autreMtt {left:196px;}

}/*fin media tablet*/


/*________________________________________________________________
                                MOBILE
__________________________________________________________________
*/
@media screen  and @screen-mobile {
    body {background-position:left top;}

    /*
    ------------------------------------------------------------------------------------------------
    = STRUCTURE
    ------------------------------------------------------------------------------------------------
    */
    #main {margin:0 -15px; padding:0;}
    #main-inner {box-shadow:none;}
    #autreMtt {left:197px; right:inherit; }

    /*
    ------------------------------------------------------------------------------------------------
    = HEADER et FOOTER
    ------------------------------------------------------------------------------------------------
    */
    .img-rounded{padding-left:0}
    .slogan { padding: 40px 7px 20px 15px; .s(1.571em);}
    #cartoucheDr {.none;}

    #footer {
      ul {.block;}
      #cartouche {margin-top:20px;}

    }

    /*
    ------------------------------------------------------------------------------------------------
    = CONTENU
    ------------------------------------------------------------------------------------------------
    */

    #help-inline {margin:0 15px;}
      /*---------- = Montant / calculette----------*/

        /* Montant*/
    #amounts {padding-bottom:0;}

    #montant {padding-bottom:15px;
      .panel-title {.a-center;}
      .control-group label {
        margin-left:8px; padding: 10px 15px 30px; width: 92px; min-height: 85px; font-size: 2.071em;

        &.manual, &:last-child { min-height: 56px; width: 54%; margin-top:8px; padding: 17px 0 0 10px; font-size: 1.072em; }
      }
    }

    .control-group.money {left:153px; bottom:0; min-height: 56px; width: 48%;
        .control-group {min-height: 36px; font-size: 1.429em;}
        input {width: 69%;}
        .help-inline {  left:-144px;}

        .euro, input {min-height:39px;}
    }

    #calculator {.minH(inherit);
        &:before {top:-7px; bottom:inherit; left:0; right:0;}
    }

    /*---------- = formulaire ----------*/
    .btn-primary {
        padding-left: 10px; padding-right:10px; .s(0.857em);
         background: @vert;

        &:active, &:focus, &:hover {background: @vert;}
    }

    /*
    ------------------------------------------------------------------------------------------------
    = PAGE INTERNE
    ------------------------------------------------------------------------------------------------
    */
    .dl-horizontal {
        dt {.overflowH; clear: left;  .f-left; .w(140px); .a-right;}
        dd {margin-left:150px;}
    }

}/*fin media mobile*/