

/**
 * @file
 * Variables LESS
 *
 * Ce document regroupe toutes les variables LESS utilisées tout au long du projet
 *
 * Pour que ces éléments soient bien appliqués, il ne faut pas oublier d'appeler
 * ce fichier à l'aide de la balise @import :
 *      import "variables.less";
 *
 * À savoir :
 * Les valeurs ne peuvent être combinés avec la propriété !important
 * Ex : div { @maj !important; } ou p {.h(1em) !important;} ne fonctionneront pas !
 *
 */

/* Ex commentaire : */

/* --------------------------------------------
 * COMMENTAIRE TITRE
 ------------------------------------------- */

  /*---------- = Commentaire sous-titre ----------*/

    /* commentaire */

/* --------------------------------------------
 * LESS PAR DÉFAUT
 ------------------------------------------- */

  /*---------- = Police ----------*/
.font {font-family:montserrat, "Trebuchet MS", Arial, Helvetica, Tahoma;}
.fontR {font-weight:100;}
.fontSb {font-weight:200;}

  /*---------- = couleurs  ----------*/
@defaut: #4c4c4c;
@defautForm: #131313;
@placeholder:#706A6A;
@bleu:   #1b63a9;
@bleuF:  #032670;
@vert:   #78a11e;
@vertC : #97c037;
@gris:   #eaedf0;
@grisF:  #c9ccce;
@orange: #e57700;
@rouge : #E61B1B;

  /*---------- = styles  ----------*/
.maj { text-transform:uppercase; }
.no-maj { text-transform:none; }
.bold { font-weight:bold; }
.normal { font-weight:normal; }
.italic { font-style:italic; }
.deco { text-decoration:underline; }
.no-deco { text-decoration:none; }
.pointer { cursor: pointer; }

  /*---------- = clear  ----------*/
.clear { clear:both; }
.no-clear { clear:none; }

  /*---------- = alignement  ----------*/
.a-center { text-align:center; }
.a-left { text-align:left; }
.a-right { text-align:right; }
.f-left { float:left; }
.f-right { float:right; }
.f-none { float:none;}
.v-top { vertical-align: top; }
.v-middle { vertical-align:middle; }

  /*---------- = display  ----------*/
.inlineB { display:inline-block; }
.inlineB4 { display:inline-block; margin:0 0 0 -4px; } /* inline-block qui supprime la pseudo marge de 4px, utile pour les menus */
.block { display:block; }
.inline { display:inline; }
.none { display:none; }

  /*---------- = position  ----------*/
.relative { position:relative; }
.absolute { position:absolute; }
.fixed { position:fixed; }

  /*---------- = overflow + min-height ----------*/
.overflowH { .relative; overflow:hidden; }
.clearFix {
	&:after{ .clear; content:'.'; .block; .h(0); visibility:hidden;}
}

.minH(@hteur) { min-height:@hteur; }

  /*---------- = sprite et background  ----------*/
.bk(@fond) {
  background:@fond;
}

.sprite(@position-couleur: left top) {
  background:url(../images/sprite.png) no-repeat @position-couleur;
}

  /*---------- = Styles CSS3  ----------*/
.radius(@radius: 5px) /* coins arrondis */
{
  border-radius: @radius;
  zoom:1;
}

.box-shadow(@shadow: 0px 0 15px 0px rgba(0, 0, 0, 0.3)) /* ombre sur le bloc */
{
  box-shadow: @shadow;
  zoom:1;
}

.box-sizing{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.noBox-sizing{
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.rotate(@deg:90deg){
    -webkit-transform: rotate(@deg);
    -moz-transform: rotate(@deg);
    -ms-transform: rotate(@deg);
    -o-transform: rotate(@deg);
    transform: rotate(@deg);
}

.gradient(@colorBase:#eaeef1, @colorTarget:#fff){
  background-color: @colorBase;
  background-image: -moz-linear-gradient(top, @colorBase 0%, @colorBase 29%, @colorTarget 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@colorBase), color-stop(29%,@colorBase), color-stop(100%,@colorTarget)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, @colorBase 0%, @colorBase 29%,@colorTarget 100%); /* Chrome10+,Safari5.1+ */
  background-image: -o-linear-gradient(top, @colorBase 0%, @colorBase 29%,@colorTarget 100%); /* Opera 11.10+ */
  background-image: -ms-linear-gradient(top, @colorBase 0%, @colorBase 29%,@colorTarget 100%); /* IE10+ */
  background-image: linear-gradient(top, @colorBase 0%, @colorBase 29%,@colorTarget 100%); /* W3C */
}

  /*---------- = Taille  ----------*/
.w(@width:auto) { width:@width; } /* largeur */
.h(@height:auto){ height:@height; } /* hauteur */
.s(@size:1em) { font-size:@size; } /* taille du texte */
.lh(@size:1.5em) { line-height:@size; } /* hauteur de la ligne */

  /*---------- = element invisible  ----------*/
.hidden{.absolute; left:-9999px;}
.visible{.relative; left:inherit;}

/* --------------------------------------------
 * LESS PERSONNALISÉ
 ------------------------------------------- */
  /*---------- = medias - responsive  ----------*/
@screen-mobile: ~"(max-width: 767px)";
@screen-tablet: ~"(max-width: 1023px)";

.largeur (@l:990)
{
  width:unit((@l/990)*100, %);
}