{% extends ":admin:layout_2cols.html.twig" %}
{% trans_default_domain 'messages' %}

{% block main_content %}
<h2>{{ "Dashboard" | trans }}</h2>
{% render url('donate_admin_block_intents_last') %}
{% endblock %}
