{% extends "DonateFrontBundle::layout.html.twig" %}
{% trans_default_domain 'messages' %}

{% block main %}
<h1>Ooops (app/Resources/TwigBundle/views/Exception/error.html.twig)</h1></h1>
{% endblock %}

{% block content_header %}
{% endblock %}


{% block sidebar %}
{% endblock %}