/app/Resources/assets/
/app/Resources/Donate*/
*~
/web/bundles/*
/web/assetic/*
/web/images/*
/web/uploads/*
/web/media/*
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
.svn
.buildpath
.project
/cov
/build
/docs
/reports
/src/Ecedi/Donate/CoreBundle/Resources/public/components/*
/coverage/
build.properties
/node_modules/