/app/Resources/assets/
*~
*.[db]
/web/bundles/*
/web/assetic/*
/web/images/*
/web/uploads/*
/web/media/*
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
.svn
.buildpath
.project
/cov
/build
/docs
/reports
/coverage/
build.properties
/node_modules/
.rules/
.coverage_db
