/web/bundles/*
/web/assetic/*
/web/css/*
/web/images/*
/web/uploads/*
/web/js/*
/web/media/*
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
.svn
.buildpath
.project
/cov
/src/Ecedi/Donate/CoreBundle/Resources/public/components/*