default:
  calls:
    error_reporting: 16383 # E_ALL & ~E_USER_DEPRECATED
  suites:
    default:
      contexts:
        - EntityContext
        - AuthenticationContext
        - DoctrineContext
        - Sanpi\Behatch\Context\JsonContext
        - Sanpi\Behatch\Context\RestContext
        - Knp\FriendlyContexts\Context\AliceContext
        - Behat\MinkExtension\Context\MinkContext


  extensions:
    Liuggio\Fastest\Behat\ListFeaturesExtension\Extension: ~
    
    Behat\Symfony2Extension:
      kernel:
        debug: true
        env: "test"

    Behat\MinkExtension:
      sessions:
        default:
          symfony2: ~

    Sanpi\Behatch\Extension: ~

    Knp\FriendlyContexts\Extension: ~
