{% extends "DonateAdminBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block main_content %}
<p>
{{ 'resetting.check_email'|trans({'%email%': email}) }}
</p>
{% endblock main_content%}
