<!-- <ul class="nav nav nav-pills">
  	<li><a title="Ecedi, Créateur conseil en nouvelles technologies" href="http://www.ecedi.fr">{{ "Contact us" | trans }}</a></li>
  	<li><a title="Facebook" href="http://www.facebook.com/Agence.Ecedi">FB</a></li>
  	<li><a title="Twitter" href="http://twitter.com/ecedi">T</a></li>
  	<li><a title="Google+" href="https://plus.google.com/115895891761807189565?prsrc=3">G+</a></li>
 </ul>
 -->
