{% extends ":admin:layout.html.twig" %}

{% block main %}
    <div class="row">
        <div class="col-md-9">
            {% block main_content %}{% endblock %}
        </div>
        <aside class="col-md-3">
            {% block sidebar %}{% endblock %}
        </aside>
    </div>
{% endblock  %}
