{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div>
        {% if invalid_username is defined %}
            <p class="bg-warning">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
        {% endif %}

        <div class="form-group">
          <label for="username">{{ 'resetting.request.username'|trans }}</label>
          <input type="text" id="username" name="username" required="required" class="form-control"/>
        </div>

    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="{{ 'resetting.request.submit'|trans }}" />
    </div>
</form>
