{% block menu_footer %}
    <ul>
      <li><a href="#">{{'footer.contact'|trans}}</a></li>
      <li><a href="#">{{'footer.help'|trans}}</a></li>
      <li><a href="#">{{'footer.legal'|trans}}</a></li>
    </ul>
{% endblock %}

{% block cartouche_footer %}
  <div id="cartouche">
    <a href="http://www.e-donate.fr/" title="ecedi (e-donate)">
      {% image '@DonateFrontBundle/Resources/public/images/ecedi-horizontal.gif' output='images/ecedi-horizontal.gif' %}
        <img src="{{ asset_url }}" alt="ecedi (e-donate)"/>
      {% endimage %}
    </a>
  </div>
{% endblock %}
